div{
    width: 150px;
    height: 150px;
    background: coral;
    border-radius:50%;
    transition: width 2s;
}

#transicion{
    width: 150px;
    height: 150px;
    background: cornflowerblue;
    transition: all 1s;
    transition-timing-function: linear;
}

#transicion:hover{
    width: 450px;
}

div:hover{
    width: 300px;
    background-color: red;
}

.content{
    background: coral;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    animation: mover-derecha 2s ease-in-out;
    animation-delay: 1000ms;
}

@keyframes mover-derecha{
    0%{
        transform: translateX(0px);
    }

    25%{
        transform: translateX(200px) ;
        background: linear-gradient(120deg,red 0%, darKRED 100%);
    }

    50%{
        transform: translateY(200px) translateX(200px);
        background: linear-gradient(to top,blue 0%, darkblue 100%);
    }

    75%{
        transform: translateX(0px) translateY(200px);
        background: linear-gradient( to top,orange 0%, coral 100%);
    }   

    100%{
        transform: translateY(0px);
    }
}